/* General */
.sidebar {
	background-color: #3867d6;
	border-color: #3867d6;
	/* #0ABDE3 */
	/* linear-gradient(180deg, #4c0369 10%, rgb(35, 156, 184) 100%); */
	/* linear-gradient(180deg, #224abe 10%, #36b9cc 100%); */
}

.carrot {
	border-left: 0.25rem solid #e58e26 !important;
}

.midnight-blue {
	border-left: 0.25rem solid #2c3e50 !important;
}

.no-border {
	border: 0;
}

.square-legend {
	width: 3rem;
	height: 1rem;
	border-radius: 0.2rem;
}

.line-legend {
	background-color: red;
	width: 3rem;
	height: 0.3rem;
	border-radius: 0.2rem;
}

.bg-orange2 {
	background-color: #fa8231;
}

.bg-brown {
	background-color: #654321;
}

.bg-carrot {
	background-color: #cc8e35;
}

.bg-green {
	background-color: #27ae60
}

.bg-red {
	background-color: #e74c3c
}

.bg-blue {
	background-color: #2980b9;
}

.bg-white-gray {
	background-color: #f5f6fa;
}

.bg-orange {
	background-color: rgb(243, 156, 18);
}

.bg-cream {
	background-color: rgb(248, 194, 145);
}

.bg-yellow {
	background-color: #fed330;
}

.bg-yellow2 {
	background-color: #f1c40f
}

.bg-midnight-blue {
	background-color: #2c3e50
}

.text-white {
	color: white;
}

table.table-bordered {
	border: 1px solid #2d3436;
}

table.table-bordered>thead>tr>th {
	border: 1px solid #2d3436;
}

table.table-bordered>tbody>tr>td {
	border: 1px solid #2d3436;
}
