/* General */
.sidebar {
	background-color: #4e73df;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #E44D26), to(#F16529));
	background-image: linear-gradient(180deg, #E44D26 10%, #F16529 100%);
	background-size: cover;
}
